<!--
  Generated template for the ModalContentLocalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>Modifique un local existente</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-30>
        <ion-item color="inputs">
          <ion-label floating color="inputLabel" style="font-weight:bold">Nombre del local</ion-label>
          <ion-input type="text" style="color:white" [(ngModel)]="local.nombre"></ion-input>
        </ion-item>

        <ion-item color="inputs">
          <ion-label floating color="inputLabel" style="font-weight:bold">Dirección del local</ion-label>
          <ion-input type="text" style="color:white" [(ngModel)]="local.direccion"></ion-input>
        </ion-item>

        <ion-item color="inputs">
          <ion-label floating color="inputLabel" style="font-weight:bold">Likes en Facebook</ion-label>
          <ion-input type="number" step="1" style="color:white" [(ngModel)]="local.likes"></ion-input>
        </ion-item>

        <ion-item color="inputs">
          <ion-label floating color="inputLabel" style="font-weight:bold">Seguidores en Twitter</ion-label>
          <ion-input type="number" step="1" style="color:white" [(ngModel)]="local.followers"></ion-input>
        </ion-item>

        <ion-item color="inputs" text-center>
          <button ion-button (click)="modificarLocal(local)" medium>Modificar local existente</button>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
